.wrapper
{
    background:rgb(196, 194, 194);
    border: 1px solid black;	/* rāmītis: biezums, veids, krāsa */
    margin: 0;
}
.content{
    margin: 20px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #58585a;
 }

 
h3
{
    text-align: center;
    color:#58585a  
}

ul
{
    text-align: left;
}


li
{
    display: inline-block;
}

.game
{
    width: 100%;
    height: auto;
    /* background: black; */
    text-align: center;
    position:relative;
    transform: translateX(0% auto);
    left: 0% auto;
    top: 0% auto;
    
}



    
.block
{
    display:inline-block;
    background: rgb(180, 219, 195);
    width: 50px;
    height: 50px;
    border: 1px solid white;
 
    
    

    
    
}
